body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:#f4f4f4;
}
/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background:#ffb366;
    padding-top:20px;
    min-height: 60px;
    border-bottom: #804000 3.5px solid;
}

header a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

header li{
    display:inline;
    padding: 0 20px 0 30px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0px;
}

header nav{
    float:right;
    margin-top: -50px;
}

header .highlight, header .current a{
    color:#00802b;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}
